:root,
[data-mdb-theme=light] {
    --mdb-informacion-color: #ffffff;
    --mdb-informacion-border: 1px solid rgb(241 245 249 / 1);
    --mdb-bg-scroll: 203 213 225;
}

[data-mdb-theme=dark] {
    --mdb-informacion-color: #1f222b;
    --mdb-informacion-border: none;
    --mdb-bg-scroll: 37 40 48;
}

.card-icon {
    padding: 1.1758rem 1rem;
}

.content-text {
    font-size: clamp(.8rem, .9vw, 1.2rem);
}

.title_detalle {
    letter-spacing: 0.125em;
    font-size: 12px;
    color: rgb(148 163 184 / 1);
}

.detalle_body {
    background-color: var(--mdb-informacion-color);
    border: var(--mdb-informacion-border);
    padding: 16px;
    border-radius: 1rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.detalle_label {
    font-size: 10px;
}

.detalle_text {
    font-size: 14px;
}

.datalle_observacion {
    border: 1px dashed rgb(123 126 255 / 40%);
}

.card_seguimiento {
    padding-left: 56px;
}

.line_seguimiento::after {
    content: '';
    position: absolute;
    top: 3rem;
    left: 22px;
    width: 4px;
    height: calc(100% - 3rem);
    background: rgb(148 163 184 / 25%);
    z-index: 1;
}

@media (max-width: 526px) {
    .detalle_label {
        font-size: 8px;
    }

    .detalle_text {
        font-size: 11px;
    }
}

.modal-body-scrollable .modal-col-scrollable {
    overflow-y: scroll;
    height: 640px;
}

@media (max-width: 992px) {
    .modal-body-scrollable .modal-col-scrollable {
        height: auto;
    }
}


/*////////////////////////////////////////
/        SCRIPT CSS FIRMA DIGITAL        /
////////////////////////////////////////*/

.content-image {
    margin: auto;
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    width: 160px;
    height: 130px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: .5s;
    opacity: 0;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeImgButton {
    position: absolute;
    top: 4px;
    right: 4px;
}

.expandImgButton {
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: none;
}

.content-image:hover .overlay,
.content-image:hover .uploadImgButton {
    opacity: 1;
    transition: .5s;
}

.btn-img {
    border: none;
    font-size: .9rem;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    padding: 0;
    background: #ffffff;
    color: #1F3BB3;
}

@media (max-width: 576px) {

    .content-image .overlay,
    .content-image .uploadImgButton {
        opacity: 1;
        transition: .5s;
    }

    .content-image img {
        min-height: 140px !important;
        height: 140px;
    }

    .btn-img {
        font-size: .7rem;
        width: 30px;
        height: 30px;
    }

    .expandImgButton {
        display: block;
    }

    .cabecera-orden h6 {
        font-size: .7rem;
    }
}

.content-signature-pad {
    position: relative;
}

.content-signature-pad::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 2px;
    background: #000000;
}

/*////////////////////////////////////////
/          SCRIPT CSS Doc Firma          /
////////////////////////////////////////*/

.search_signature_group {
    flex-wrap: nowrap;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.search_signature_text {
    display: flex;
    align-items: center;
    width: 27.56px;
    height: auto;
    cursor: pointer;
    padding-left: 5px;
}

.search_signature_text i,
.search_signature_text i::before {
    line-height: 1.3;
    min-width: auto;
    width: 19px;
    height: 19px;
}

#search_signature {
    display: block;
    width: calc(100% - 28px);
    padding: .2rem .4rem;
    font-size: .65rem;
    height: auto;
    font-weight: 400;
    line-height: 1.6;
    color: var(--mdb-surface-color);
    appearance: none;
    background-color: var(--mdb-body-bg);
    border: var(--mdb-border-width) solid var(--mdb-border-color);
    border-radius: var(--mdb-border-radius);
}

#search_signature:focus-visible {
    outline: none;
    transition: all .1s linear;
    border-color: #3b71ca;
    box-shadow: inset 0px 0px 0px 1px #3b71ca;
}