:root {
    --color-blue-50: rgb(239 246 255);
    --color-blue-100: rgb(219 234 254);
    --color-blue-200: rgb(220 226 237);
    --color-blue-300: rgb(158, 176, 209);
    --color-blue-400: rgb(101, 134, 197);
    --color-blue-500: rgb(64, 134, 214);
    --color-blue-600: rgb(8, 94, 207);
    --color-blue-700: rgb(4, 53, 199);
    --color-blue-800: rgb(9, 42, 161);
    --color-blue-900: rgb(10, 37, 117);
    --color-slate-0: rgb(255 255 255);
    --color-slate-50: rgb(248 250 252);
    --color-slate-100: rgb(241 245 249);
    --color-slate-200: rgb(226 232 240);
    --color-slate-300: rgb(202 213 226);
    --color-slate-400: rgb(144 161 185);
    --color-slate-500: rgb(98 116 142);
    --color-slate-600: rgb(69 85 108);
    --color-slate-700: rgb(49 65 88);
    --color-slate-800: rgb(29 41 61);
    --color-slate-900: rgb(13 25 43);
    --color-slate-1000: rgb(10 18 31);
    --color-gray-50: rgb(245 245 245);
    --color-gray-100: rgb(230 230 230);
    --color-gray-200: rgb(210 210 210);
    --color-gray-300: rgb(180 180 180);
    --color-gray-400: rgb(150 150 150);
    --color-gray-500: rgb(120 120 120);
    --color-gray-600: rgb(90 90 90);
    --color-gray-700: rgb(60 60 60);
    --color-gray-800: rgb(35 35 35);
    --color-gray-900: rgb(15 15 15);
    --color-gray-1000: rgb(0 0 0);

}

:root,
[data-mdb-theme=light] {
    /* Backgrounds */
    --bg-background: var(--color-blue-50);
    --bg-surface: var(--color-slate-100);
    --bg-surface-2: var(--color-slate-0);

    /* Colors */
    --color-surface: var(--color-slate-600);
    --color-surface-2: var(--color-slate-900);
}

[data-mdb-theme=dark] {
    /* Backgrounds */
    --bg-background: var(--color-slate-900);
    --bg-surface: var(--color-slate-900);
    --bg-surface-2: var(--color-slate-800);

    /* Colors */
    --color-surface: var(--color-slate-200);
    --color-surface-2: var(--color-slate-0);
}