:root,
[data-mdb-theme=light] {
    --root-logo-rci-bg: url(../../front/images/app/LogoRC_TNegro.webp) no-repeat center center;
    --root-height-navbar: 50px;
    --root-border-color: rgb(79 79 79 / 15%);
    --root-is-active-bg: rgb(29 115 255);
    --color-layout: var(--color-slate-600);
}

[data-mdb-theme=dark] {
    --root-logo-rci-bg: url(../../front/images/app/LogoRC_TBlanco.webp) no-repeat center center;
    --root-border-color: rgb(255 255 255 / 12%);
    --root-is-active-bg: rgb(63 103 169);
    --color-layout: var(--color-slate-200);
}


html,
body {
    height: 100dvh !important;
    background-color: var(--bg-surface-2);
}

body * .hover-layout:hover {
    background-color: rgb(var(--mdb-surface-color-rgb), 9%) !important;
}

.layout-container {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.navbar {
    background-color: var(--bg-surface-2);
    box-shadow: none;
    height: var(--root-height-navbar);
}

.navbar .navbar-brand {
    margin-right: 0;
}

.navbar .navbar-brand .logo_rci {
    background: var(--root-logo-rci-bg);
    background-size: contain !important;
    width: 9rem;
    height: 24px;
    display: block;
}

.navbar .navbar-brand .btn-notification,
.navbar .navbar-brand .sidebar-close__navbar {
    --spacing: .25rem;
    align-items: center;
    justify-content: center;
    color: var(--color-surface-2);
    width: calc(var(--spacing) * 9);
    min-width: calc(var(--spacing) * 9);
    height: calc(var(--spacing) * 8);
    background-color: transparent;
    border-radius: .5rem;
    border: none;
}

.navbar .navbar-brand .btn-notification {
    display: flex;
}

.navbar .navbar-brand #contenedor-sigla {
    display: none;
}

.navbar .navbar-brand #contenedor-sigla .dropdown-menu {
    width: 18rem;
}

.navbar .navbar-brand #contenedor-sigla .dropdown-menu .dropdown-header div {
    background-color: var(--navbar-sigla-container-bg);
}

.navbar .navbar-brand #contenedor-sigla .btn-notification .sigla {
    --spacing: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--spacing) * 7);
    min-width: calc(var(--spacing) * 7);
    height: calc(var(--spacing) * 7);
    background-color: rgb(48, 125, 251);
    color: #ffffff;
    font-weight: bold;
    font-size: .65rem;
    border-radius: 50%;
}

#contenedor-sigla .dropdown-menu .dropdown-body .dropdown-item:hover {
    background-color: var(--navbar-dropdown-item-hover-bg);
}

.navbar .navbar-brand .sidebar-close__navbar {
    display: none;
}

#contenedor-notificaciones .btn-notification .badge {
    min-width: 1rem;
    min-height: 0.875rem;
    position: absolute;
    font-size: .65rem;
    padding: .15em .1em;
    top: -4px;
    right: -3px;
}

#contenedor-notificaciones .dropdown-menu {
    width: 28rem;
    background-color: var(--bg-surface-2);
}

#contenedor-notificaciones .dropdown-menu .dropdown-header button[noti-btn="reload"] {
    background-color: var(--root-container-bg);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .25) !important;
}

#contenedor-notificaciones .dropdown-menu .dropdown-body {
    max-height: 380px;
    overflow-y: auto;
    scrollbar-width: auto;
    /* Firefox: más ancho que thin */
    scrollbar-color: #888 transparent;
    scroll-behavior: smooth;
}

#contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item {
    position: relative;
    user-select: none;
    cursor: pointer;
    background-color: var(--root-container-bg);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .25) !important;
    margin: .35rem 0 !important;
}

#contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item:hover {
    background-color: var(--navbar-dropdown-item-hover-bg);
}

#contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item .noti-contenido {
    --altura: 3.5rem;
    height: var(--altura);
    min-height: var(--altura);
}

#contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item .noti-hora {
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 10px;
    font-weight: 600;
    color: #9e9e9e;
    pointer-events: none;
}

#contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item .noti-contenido .descripcion {
    white-space: normal;
}

@media (max-width: 520px) {
    #contenedor-sigla .dropdown-menu {
        position: fixed !important;
        inset: 30px 0px auto auto !important;
        margin: 15px !important;
        transform: none !important;
        left: 0 !important;
        width: auto !important;
    }
}

@media (max-width: 620px) {
    #contenedor-notificaciones .dropdown-menu {
        position: fixed !important;
        inset: 30px 0px auto auto !important;
        margin: 15px !important;
        transform: none !important;
        left: 0 !important;
        width: auto;
    }

    #contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item .noti-contenido div {
        min-width: 0 !important;
    }

    #contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item .noti-contenido .acronimo {
        width: 2.5rem;
        min-width: 2.5rem;
        height: 2.5rem;
    }

    #contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item .noti-contenido .titulo,
    #contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item .noti-contenido .descripcion {
        user-select: none;
        overflow: hidden;
        line-height: 1.2;
    }

    #contenedor-notificaciones .dropdown-menu .dropdown-body .dropdown-item .noti-contenido .titulo {
        font-size: .8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* Sidebar a la derecha */
.layout-container .sidebar {
    position: relative;
    width: 260px;
    min-width: 260px;
    height: 100vh;
    background-color: var(--bg-surface-2);
    overflow-y: auto;
    overflow-x: clip;
    transition: width 0.3s ease-in-out, min-width 0.3s ease-in-out;
}

.layout-container .sidebar .sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(.25rem * 9);
    margin: 8px 8px;
    cursor: default;
}

.layout-container .sidebar .sidebar__header .sidebar-icon-logo,
.layout-container .sidebar .sidebar__header .sidebar-close {
    --spacing: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d0d0d;
    width: calc(var(--spacing) * 9);
    min-width: calc(var(--spacing) * 9);
    height: calc(var(--spacing) * 9);
    background-color: transparent;
    border-radius: .5rem;
    border: none;
}

.layout-container .sidebar .sidebar__header .sidebar-icon-logo div {
    background-size: contain !important;
    width: 1.75rem;
    height: 1.75rem;
    background: url(../../front/images/app/icons/icon.webp?v=6.5.6) no-repeat center center;
}

.layout-container .sidebar .sidebar__header .sidebar-close i::before {
    content: "\f00d";
}

.layout-container .sidebar .sidebar__body {
    padding: .5rem 0 0 0;
    cursor: default;
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link {
    --text-sm--line-height: 1.42857;
    --menu-item-height: calc(.25rem*9);
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    margin: 2px 6px;
    color: var(--color-layout);
    line-height: var(--text-sm--line-height);
    min-height: var(--menu-item-height);
    text-decoration: none;
    gap: .5rem;
    border-radius: 10px;
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link.sidebar__link-menu::before {
    position: absolute;
    content: "\f104";
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-size: .8rem;
    right: 18px;
    top: 10px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    font-weight: normal;
    transition: transform 0.2s ease-in;
}

.layout-container .sidebar .sidebar__body .sidebar__item[data-collapse="true"] .sidebar__link.sidebar__link-menu::before {
    transform: rotate(-90deg);
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link .sidebar__link-icon {
    --spacing: .125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--spacing) * 10);
    min-width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link .sidebar__link-text {
    display: flex;
    align-items: center;
    min-width: 0;
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link .sidebar__link-text .truncate {
    user-select: none;
    font-size: .825rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link.is-active {
    background-color: var(--mdb-primary);
    color: white;
    font-weight: 600;
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__submenu {
    list-style: none;
    max-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out, padding .5s ease, margin .4s ease;
}

.layout-container .sidebar .sidebar__body .sidebar__item[data-collapse="true"] .sidebar__submenu {
    max-height: 1000px;
    padding: 0px 10px 6px 37px;
    margin: 6px;
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__submenu .sidebar__submenu-title {
    user-select: none;
    font-size: .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    color: var(--color-layout);
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__submenu .sidebar__submenu-link {
    --menu-item-height: calc(.25rem * 7);

    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px 17px;
    margin: 2px 0;
    color: var(--color-layout);
    min-height: var(--menu-item-height);
    text-decoration: none;
    gap: .5rem;
    border-radius: 10px;
    font-size: .725rem;
    cursor: pointer;
    white-space: nowrap;
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__submenu .sidebar__submenu-link::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    left: 7px;
    border-radius: 50%;
    background: #b2b2b2;
}

.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link:not(.is-active):hover,
.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__submenu .sidebar__submenu-link:hover {
    background-color: rgb(var(--mdb-surface-color-rgb), 6%);
}

/* Sidebar Footer */
.layout-container .sidebar .sidebar__footer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(.25rem * 18);
    bottom: 0;
    padding: 6px;
    cursor: default;
}

.layout-container .sidebar .sidebar__footer .sidebar__footer-user {
    --text-sm--line-height: 1;
    --menu-item-height: calc(.25rem * 5);
    --spacing: .25rem;

    display: flex;
    align-items: center;
    width: 100%;
    min-width: 100%;
    color: var(--color-layout);
    padding: 6px;
    height: calc(var(--spacing) * 14);
    text-decoration: none;
    background-color: transparent;
    gap: .5rem;
    border-radius: .5rem;
    border: none;
}

.layout-container .sidebar .sidebar__footer .sidebar__footer-user .sidebar__footer-user-sigla {
    --spacing: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--spacing) * 7);
    min-width: calc(var(--spacing) * 7);
    height: calc(var(--spacing) * 7);
    background-color: rgb(48, 125, 251);
    color: #ffffff;
    font-weight: bold;
    font-size: .65rem;
    border-radius: 50%;
}

.layout-container .sidebar .sidebar__footer .sidebar__footer-user .sidebar__footer-user-text {
    text-align: start;
}

.layout-container .sidebar .sidebar__footer .sidebar__footer-user .sidebar__footer-user-text h5,
.layout-container .sidebar .sidebar__footer .sidebar__footer-user .sidebar__footer-user-text h6 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.layout-container .sidebar .sidebar__footer .sidebar__footer-user .sidebar__footer-user-text h5 {
    font-size: .85rem;
    margin-bottom: .25rem;
}

.layout-container .sidebar .sidebar__footer .sidebar__footer-user .sidebar__footer-user-text h6 {
    font-size: .75rem;
    font-weight: bold;
    color: var(--color-layout)
}

.layout-container .sidebar .sidebar__footer .dropdown-menu {
    transform: translate(8px, -65px) !important;
}

.layout-container .content-full {
    height: 100dvh;
    width: 0px;
}

.layout-container .content-full .content-wrapper {
    --border-wrapper: 1px solid var(--root-border-color);
    height: calc(100% - var(--root-height-navbar));
    background: var(--bg-background);
    overflow: auto;
    border-radius: 1.5rem 0 0 0;
    border-top: var(--border-wrapper);
    border-left: var(--border-wrapper);
}

/*----------------------------------------------
   Sidebar a la izquierda encongido solo con iconos 
----------------------------------------------*/
.sidebar-only-icon.layout-container .sidebar {
    width: 52px;
    min-width: 52px;
    overflow: visible;
    cursor: e-resize;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__header.sidebar__header-only-icon .sidebar-close,
.sidebar-only-icon.layout-container .sidebar .sidebar__header.sidebar__header-only-icon:hover .sidebar-icon-logo {
    display: none;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__header.sidebar__header-only-icon:hover .sidebar-close {
    display: flex;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__header.sidebar__header-only-icon:hover .sidebar-close i::before {
    content: "\f0c9";
}

.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link.sidebar__link-menu::before {
    display: none;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item[data-collapse] {
    position: relative;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item[data-collapse]:hover::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 55px;
    left: 50px;
    top: -1px;
    background: transparent;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link:not(.sidebar__link-menu):hover .sidebar__link-text .truncate,
.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item[data-collapse]:hover .sidebar__link .sidebar__link-text .truncate,
.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item[data-collapse]:hover .sidebar__submenu {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: var(--bg-surface-2);
    color: var(--color-surface-2);
    transition: none;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item[data-collapse] .sidebar__submenu {
    display: none;
    transition: none;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item .sidebar__link:not(.sidebar__link-menu):hover .sidebar__link-text .truncate {
    padding: 5px 9px;
    font-size: .75rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    left: 55px;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item[data-collapse]:hover .sidebar__link .sidebar__link-text .truncate {
    padding: 10px 9px;
    width: 12.5rem;
    font-size: .9rem;
    border-radius: .75rem .75rem 0 0;
    border: 1px solid #ccc;
    left: 55px;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__body .sidebar__item[data-collapse]:hover .sidebar__submenu {
    max-height: 1000px;
    padding: 6px 9px;
    margin: 0;
    width: 12.5rem;
    font-size: .7rem;
    border-radius: 0 0 .75rem .75rem;
    border: 1px solid #ccc;
    top: 35px;
    left: 61px;
}

.sidebar-only-icon.layout-container .sidebar .sidebar__footer .sidebar__footer-user {
    --spacing: .25rem;
    height: calc(var(--spacing) * 10);
}

.sidebar-only-icon.layout-container .sidebar .sidebar__footer .sidebar__footer-user .sidebar__footer-user-text {
    min-width: 0;
}

.sidebar-only-icon.layout-container .sidebar.sidebar .sidebar__body .sidebar__item .sidebar__submenu .sidebar__submenu-link:not(.is-active) {
    color: var(--color-layout);
}

.sidebar .sidebar__body .sidebar__item .sidebar__submenu .sidebar__submenu-link.is-active {
    color: rgb(48, 125, 251);
    font-weight: bold;
}

.sidebar .sidebar__body .sidebar__item .sidebar__submenu .sidebar__submenu-link.is-active::before {
    background-color: rgb(48, 125, 251);
}

.image-user {
    /* Propiedades esenciales */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
}

/*----------------------------------------------
   Sidebar a la derecha solo para screen de menos de 767px 
----------------------------------------------*/
@media (max-width: 767px) {
    :root {
        --root-height-navbar: 60px;
    }

    .layout-container {
        display: block;
    }

    .layout-container .sidebar {
        position: fixed;
        z-index: 99999;
        height: 100%;
        top: 0;
        right: -260px;
        transition: right 0.3s ease-in-out;
    }

    .layout-container .sidebar .sidebar__header {
        flex-direction: row-reverse;
        height: calc(.25rem * 11);
    }

    .layout-container .sidebar .sidebar__header .sidebar-close {
        width: calc(var(--spacing) * 12);
        min-width: calc(var(--spacing) * 12);
        height: calc(var(--spacing) * 11);
    }

    .layout-container .sidebar .sidebar__header .sidebar-icon-logo {
        display: none;
    }

    .layout-container .navbar .navbar-brand .logo_rci {
        background: url(../../front/images/app/icons/icon.webp?v=6.5.6) no-repeat center center;
        width: 40px;
        height: 40px;
    }

    .layout-container .navbar {
        position: sticky;
        top: 0;
        z-index: 900;
    }


    .layout-container .navbar .navbar-brand .btn-notification,
    .layout-container .navbar .navbar-brand .sidebar-close__navbar {
        display: flex;
        width: calc(var(--spacing) * 11);
        min-width: calc(var(--spacing) * 11);
        height: calc(var(--spacing) * 10);
    }

    #contenedor-notificaciones .btn-notification .badge {
        top: -2px;
        right: 2px;
    }

    .layout-container .navbar .navbar-brand #contenedor-sigla {
        display: flex;
    }

    .layout-container .content-full {
        width: auto;
    }

    .layout-container .content-full .content-wrapper {
        border-radius: 0;
        border-left: none;
    }

    .sidebar-rtl.layout-container .sidebar {
        display: block;
        right: 0;
    }

    .layout-container .sidebar .sidebar__footer {
        display: none;
    }

    .sidebar-rtl.layout-container .sidevar__overlay {
        position: fixed;
        max-height: 100vh;
        top: 0;
        bottom: 0;
        overflow: auto;
        width: 100%;
        z-index: 99998;
        background: #000000;
        opacity: .35;
        cursor: pointer;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
}