:root {
    --background-color: #f3f2ed;
    --card-color: #f0b988;
    --text-color: #ffffff;
    --perspective-value: 52rem;
}

.flip-clock {
    display: flex;
    position: relative;
    width: 3.25rem;
    height: 3.25rem;
    aspect-ratio: 1 / 1;
    line-height: 3.4rem;
    color: var(--text-color);
    font-size: 1.125rem;
    text-align: center;
    border-radius: .325rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .1);
}

.flip-clock .digital:before,
.flip-clock .digital:after {
    content: "" attr(data-number) "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--card-color);
    overflow: hidden;
    box-sizing: border-box;
}

.flip-clock .digital:before {
    top: 0;
    bottom: 50%;
    border-radius: .5rem .5rem 0 0;
    border-bottom: solid 0.1vw var(--background-color);
}

.flip-clock .digital:after {
    top: 50%;
    bottom: 0;
    border-radius: 0 0 .5rem .5rem;
    line-height: 0;
    border-top: solid 0.1vw var(--background-color);
}

.flip-clock.down .back:before,
.flip-clock.down .front:after {
    z-index: 1;
}

.flip-clock.down .back:after {
    z-index: 2;
    transform-origin: 50% 0;
    transform: perspective(var(--perspective-value)) rotate(180deg);
}

.flip-clock.down .front:before {
    z-index: 3;
}

.flip-clock.down.go .front:before,
.flip-clock.down.go .back:after {
    will-change: transform;
}

.flip-clock.down.go .front:before {
    transform-origin: 50% 100%;
    animation: frontFlipDown 0.6s ease-in-out both;
    backface-visibility: hidden;
}

.flip-clock.down.go .back:after {
    animation: backFlipDown 0.6s ease-in-out both;
    backface-visibility: hidden;
}

@keyframes frontFlipDown {
    0% {
        transform: perspective(var(--perspective-value)) rotateX(0deg);
    }

    100% {
        transform: perspective(var(--perspective-value)) rotateX(180deg);
    }
}

@keyframes backFlipDown {
    0% {
        transform: perspective(var(--perspective-value)) rotateX(180deg);
    }

    100% {
        transform: perspective(var(--perspective-value)) rotateX(0deg);
    }
}

.flip-clock:not(.go) .front:before,
.flip-clock:not(.go) .back:after {
    will-change: auto;
}

.day,
.hour,
.minute,
.second {
    position: relative;
}

.day::after,
.hour::after,
.minute::after,
.second::after {
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .4rem;
    color: var(--card-color);
}

.day::after {
    content: "DÍAS";
}

.hour::after {
    content: "HORAS";
}

.minute::after {
    content: "MINUTOS";
}

.second::after {
    content: "SEGUNDOS";
}